---
---

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: #212720;
}

main {
  flex: 1 0 auto;
}

header, footer {
  padding: 10px;
  color: white;
  text-align: center;

  h1 {
    display: inline-block;
    transition: all 0.3s;
    margin: 0;
    font-family: monospace;
    letter-spacing: 4px;
    text-align: center;
    color: rgba(255, 255, 255, 0.25);
    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.card {
  position: relative;
  overflow: hidden;
  margin: 8px;
  width: calc(20% - 16px);
  height: 150px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  @media(max-width: 1200px) {
    width: calc(25% - 16px);
  }
  @media(max-width: 900px) {
    width: calc(33.33% - 16px);
  }
  @media(max-width: 600px) {
    width: calc(50% - 16px);
  }
  @media(max-width: 400px) {
    width: 100%;
  }

  a {
    height: 100%;
    width: 100%;
    &:hover .card-title {
      transform: scale(1.2);
    }
  }

  h2 {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    text-shadow: 1px 2px 13px black;
    z-index: 1;
  }

  .card-title {
    transition: all .5s;
    overflow: hidden;
    color: white;
    height: 100%;
    width: 100%;
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/2a/05/29/2a052900be756f5d25cd4a770189bb1a.png');
    background-position: center;
    background-size: cover;
    padding: 10px;
  }

  .card-content {
    padding: 10px;
  }
}
