<header class="standard-header">
    <a href="{{ site.baseurl }}/" class="logo-link">
      <h1>Camouflage Zone</h1>
    </a>
  </header>
  <nav>
    <a class="active" href="{{ site.baseurl}}/">All camo</a>
    <a href="{{ site.baseurl}}/category/woodland">Woodland</a>
    <a href="{{ site.baseurl}}/category/desert">Desert</a>
    <a href="{{ site.baseurl}}/category/snow">Snow</a>
    <a href="{{ site.baseurl}}/category/water">Water</a>
    <a href="{{ site.baseurl}}/category/other">Other</a>
  </nav>
