<section class="sidebar-container">
  <div class="sidebar">
    <h2>Terain</h2>
     <ul>
       <li><a href="{{ site.baseurl}}/">🌐 All camouflage</a></li>
       <li><a href="{{ site.baseurl}}/category/woodland">🍂 Woodland</a></li>
       <li><a href="{{ site.baseurl}}/category/desert">🌵 Arid regions</a></li>
       <li><a href="{{ site.baseurl}}/category/snow">❄️ Snow</a></li>
       <li><a href="{{ site.baseurl}}/category/water">🌊 Water</a></li>
       <li><a href="{{ site.baseurl}}/category/other">✳️ Other</a></li>
      </ul>
  </div>
</section>
