<section class="sidebar-container">
  <div class="sidebar">
     <ul>
       <li><a href="{{ site.baseurl}}/" class="tooltip" title="All camo">🌐</a></li>
       <li><a href="{{ site.baseurl}}/woodland" class="tooltip" title="Woodland">🍂</a></li>
       <li><a href="{{ site.baseurl}}/desert" class="tooltip" title="Desert / Arid">🌵</a></li>
       <li><a href="{{ site.baseurl}}/snow" class="tooltip" title="Snow">❄️</a></li>
       <li><a href="{{ site.baseurl}}/water" class="tooltip" title="Water">🌊</a></li>
       <li><a href="{{ site.baseurl}}/other" class="tooltip" title="Other">✳️</a></li>
      </ul>
  </div>
</section>
