.post {
  color: white;
  width: 100%;

  .back {
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .cover {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 85px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
    z-index: 1;

    @media(max-width: 767px) {
      height: 60vh;
      background-attachment: local;
      padding-bottom: 0;
    }
  }

  .content {
    position: relative;
    margin-top: 15px;
    padding: 50px;
    background-color: white;
    color: #222;
    margin-top: 0px;
    margin-bottom: 50px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
    z-index: 2;

    &:first-of-type {
      margin-top: 65vh;

      @media(max-width: 767px) {
        margin-top: 50vh;
      }
    }

    @media(max-width: 1100px) {
      max-width: 100%;
      padding: 20px 25px;
    }

    .post-header {
      display: block;
      font-size: 4em;
      margin: 0;
      margin-bottom: 40px;
      text-align: center;

      @media(max-width: 767px) {
        font-size: 3em;
        text-align: center;
        margin-bottom: 10px;
      }
    }

    .post-camo-image {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border: 1px solid;
    }

    a {
      color: $green;
      &:hover {
        color: darken($green, 10%);
      }
    }

    h2 {
      font-size: 2em;
      margin-bottom: 10px;

      p+& {
        margin-top: 35px;
      }

      &+p {
        margin-top: 0;
      }
    }

    .post-text-content {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    .post-text-content p:first-child:first-letter {
      text-transform: uppercase;
      font-weight: bold;
      color: #46503C;
      float: left;
      font-size: 130px;
      line-height: 90px;
      margin-right: 10px;
      width: 100px;
    }
  }
}

.info-box {
  text-align: center;
  float: right;
  margin-left: 5%;
  width: 300px;
  border: 1px solid #222;

  @media(max-width: 767px) {
    width: 100%;
    max-width: 300px;
    float: none;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__item {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #222;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__label {
    margin: 0;
  }

  &__intel {
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
  }

  &__flag {
    width: 150px;
    box-shadow: 0px 0px 1px #222;
  }
}
