.post {
  color: white;

  .back {
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .cover {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 85px;
    @media(min-width: 601px) {
      height: 500px;
    }
  }
  header {
    h1 {
      font-size: 3em;
      color: white;
      text-shadow: 0px 0px 10px black;
    }
    h2 {
      transform: rotate(1deg);
      bottom: 0px;
    }
    h2+h2 {
      transform: rotate(-1deg);
      display: block;
      top: 15px;
    }
  }
  .content {
    a {
      color: #46503C;
      &:hover {
        color: darken(#46503C, 10%);
      }
    }
    margin-top: 15px;
    padding: 50px;
    background-color: white;
    color: #222;
    position: relative;
    top: -60px;
    @media(max-width: 1100px) {
      max-width: 90%;
      padding: 20px 25px;
    }
    & p:first-child:first-letter {
      text-transform: uppercase;
      color: #46503C;
      float: left;
      font-size: 75px;
      line-height: 60px;
      padding-right: 8px;
    }
  }
}
