.post {
  color: white;
  width: 100%;

  .back {
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .cover {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 85px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
    z-index: 1;
  }

  .content {
    position: relative;
    margin-top: 15px;
    padding: 50px;
    background-color: white;
    color: #222;
    margin-top: 0px;
    margin-bottom: 50px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
    z-index: 2;

    &:first-of-type {
      margin-top: 65vh;

      @media(max-width: 767px) {
        margin-top: 50vh;
      }
    }

    @media(max-width: 1100px) {
      max-width: 100%;
      padding: 20px 25px;
    }

    .post-header {
      display: flex;
      margin-bottom: 40px;

      @media(max-width: 767px) {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
    }

    .post-headline {
      h1 {
        font-size: 3em;
        margin: 0;

        @media(max-width: 767px) {
          font-size: 2.5em;
          text-align: center;
        }
      }
    }

    .post-camo-image {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border: 1px solid;

      @media(min-width: 768px) {
        margin-right: 20px;
      }
    }

    a {
      color: $green;
      &:hover {
        color: darken($green, 10%);
      }
    }

    .post-text-content {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    .post-text-content p:first-child:first-letter {
      text-transform: uppercase;
      color: #46503C;
      float: left;
      font-size: 75px;
      line-height: 60px;
      padding-right: 8px;
    }
  }
}
