---
layout: base
---
{% include sidebar.html %}

<section class="catalog">

  {% for camo in site.camo %}
    {% if camo.terrain == "desert" %}

      <div class="card">
        <a href="{{ site.baseurl}}{{ camo.url }}">
          <div class="card-description">
            <h3>{{ camo.title }}</h3>
            <img class="flag" src="{{ site.baseurl}}/img/flags/{{ camo.country }}.svg" alt="{{ camo.country }} flag" />
          </div>
          <div class="card-title" style="background-image:linear-gradient( rgba(0, 0, 0, 0.9), rgba(240, 109, 6, 0) ), url('{{ site.baseurl }}/img/{{ camo.image }}')">
          </div>
        </a>
      </div>

      {% endif %}

  {% endfor %}
</section>
