---
layout: base
---
<section class="sidebar-container">
  <div class="sidebar">
     <ul>
       <a href="{{ site.baseurl}}woodland"><li>Forrest</li></a>
      </ul>
  </div>
</section>

<section class="catalog">

  {% for camo in site.camo %}
    <div class="card">
      <a href="{{ site.baseurl}}{{ camo.url }}">
        <div class="card-description">
          <h2>{{ camo.title }}</h2>
          <img class="flag" src="{{ site.baseurl}}/img/flags/{{ camo.country }}.svg" alt="{{ camo.country }} flag" />
        </div>
        <div class="card-title" style="background-image:linear-gradient( rgba(0, 0, 0, 0.9), rgba(240, 109, 6, 0) ), url('{{ site.baseurl }}/img/{{ camo.image }}')">
        </div>
      </a>
    </div>
  {% endfor %}

</section>
