<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main>
      <div class="post">
        <header class="post-header">
          <a href="{{ site.baseurl }}/">
            <h1>H.I.P.S.</h1>
          </a>
        </header>
        <div class="cover" style="background-image:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ), url('{{ site.baseurl }}/img/{% if page.cover %}covers/{{ page.cover }}{% else %}{{ page.image }}{% endif %}')"></div>
        <section class="content">
          <h1 class="post-header">{{page.title}}</h1>
          <aside class="info-box">
            <div class="info-box__item">
              <img class="post-camo-image" src="{{ site.baseurl }}/img/{{ page.image }}" alt="" />
            </div>
            <div class="info-box__item">
              <p class="info-box__label">Country of origin:</p>
              <img class="info-box__flag" src="{{ site.baseurl}}/img/flags/{{ page.country }}.svg" alt="{{ page.country }} flag" />
            </div>
            {% if page.fullname %}
            <div class="info-box__item">
              <p class="info-box__label">Full Name:</p>
              <p class="info-box__intel">{{page.fullname}}</p>
            </div>
            {% endif %}
            {% if page.nickname %}
            <div class="info-box__item">
              <p class="info-box__label">Other names:</p>
              <p class="info-box__intel">{{page.nickname}}</p>
            </div>
            {% endif %}
          </aside>
          <div class="post-text-content">
            {{content}}
          </div>
        </section>

        {% if page.family %}
        <div class="content">
          <h2>Related Camouflage</h2>
          <div class="related">
            {% for camo in site.camo %}
              {% if camo.family == page.family %}
                {% include camo-card.html %}
              {% elsif camo.title == page.title %}
              <p>hehe</p>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
